body{
    font-family: 'Bai Jamjuree', sans-serif;
}
body h1{
    font-weight: 300;
}
header {
    
    background:url('./images/bg-header-desktop.png');
    align-items: center;
    background-size: cover;

}
header .headerimage{
    display:flex;
    
    justify-content: center;
}
img{
    
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}


/*second Header */

#secondheader {
    text-align: center;
}

#secondheader .headerAndPara h1{

    font-weight: 300;
    align-self: center;
    font-family: 'Bai Jamjuree', sans-serif;
}
#secondheader .headerAndPara p{
    color: slategray;
    margin-top: 1rem;

    font-family: 'Bai Jamjuree', sans-serif;
}

/*Button */


 .button_1{
    margin-top: 3rem;
    height: 3.8rem;
    width: 15rem;
    background: seagreen;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 18px;
    font-family: 'Bai Jamjuree', sans-serif;

}
.button_2{
    margin-top: 3rem;
    height: 3.8rem;
    width: 15rem;
    background: steelblue;
    border: none;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
} 


/* Third Header */

#thirdheader {
    background-color: white;
    margin-top: 5rem;
    text-align: center;
}

#thirdheader .thirdHeaderAndPara h1{
    margin-top: 2rem;
    font-weight: 300;
    margin-top: 5rem;
    font-family: 'Bai Jamjuree', sans-serif;

}
#thirdheader .thirdHeaderAndPara p{
    color: slategray;
    margin-top: 1%;
    font-family: 'Bai Jamjuree', sans-serif;
}

/* Fourth header */

#computer{
    display: flex;
    margin-top: 7rem;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#computer img{
    width: auto;
    height: auto;
    margin-left: -9%;
}


#computer .textright{
    margin-top: 12rem;
    color: slategray;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    margin-right: 30%;

}

#computer .textright h2{
    margin-top: 7%;
    color: black;
    font-weight:300;
    font-family: 'Bai Jamjuree', sans-serif;
}


/*
#computer .textright{
    
    color: black;
    margin-top: 100px;
}
#computer .textright h2{ 
    
    
    margin-top: 50px;
}
#computer .textright p{ 
    
    
    color: slategray;
}
*/

/* fourth header */

#fourthheader {
    background-color: white;
    margin-top: 8%;
    text-align: center;
}

#fourthheader .fourthHeaderAndPara h1{
    margin-top: 10%;
    font-weight: 300;
    margin-top: 30px;
    font-family: 'Bai Jamjuree', sans-serif;

}
#fourthheader .fourthHeaderAndPara p{
    color: slategray;
    font-family: 'Bai Jamjuree', sans-serif;
    
}

/* image devices */

#imagedevices{
    
    /* width: 100%; */
    height: 10%;
    background-color: white;
    
}
#imagedevices .device{
    
    display:flex;
    justify-content: center;

}
#imagedevices .device img{
    width: 60rem;
    height: 40rem;
}



/* Fitfth header */

#fifthheader {
    background-color: white;
    margin-top: 50px;
    text-align: center;
    
}

#fifthheader .fifthHeaderAndPara h1{
    margin-top: 10rem;
    font-weight: 300;
    
    margin-top: 30px;
    font-family: 'Bai Jamjuree', sans-serif;

}
#fifthheader .fifthHeaderAndPara p{
    color: slategray;
    font-family: 'Bai Jamjuree', sans-serif;
    
}

/* Images and para */
#imagesAndPara{
    margin-top: 20px;
    background-color: white;
    display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;
}
#imagesAndPara .threeImages{
    display: flex;
    flex-direction: row;
   
    
}
.box{
    text-align: center;

}
#imagesAndPara  p{
    color: slategray;
    font-family: 'Bai Jamjuree', sans-serif;
   
    
}
#imagesAndPara  h3{
    font-weight: 200;
}

#companyImages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}




/* six header */

#sixheader {
    background-color: white;
      
    text-align: center;
    margin-top: 50px;
}

#sixheader .sixHeaderAndPara h1{
    font-weight: 300;
    margin-top: 30px;
    font-family: 'Bai Jamjuree', sans-serif;

}
#sixheader .sixHeaderAndPara p{
    color: slategray;
    margin-top: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.main-content{
    margin-top: 7rem ;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
}
.center-box{
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    color: slategray;
}
.right-box {
    width: 100px;
    
    margin: 0 10px 0 10px;
    
}



@media (max-width: 600px) and (min-width:300px){
    header{
        float: none;
        text-align: center;
        width: 100%;
    }
    #computer img{
        flex-wrap: nowrap;
        width: 100%;
        margin-left: 0%;
    }
    #computer .textright{
        margin-right: 0%;
    }
    #imagedevices .device img{
        
        width: 100%;
        height: 10%;

    }
    #companyImages {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .center-box{
       
        
        flex-direction: column;
       
    }

   
}

@media (max-width: 1200px) and (min-width:600px){
    #computer img{
        margin-left: 0%;
        text-align: center;
        width: 80%;
       
    }
    #computer{
        justify-content: center;

    }
    #computer .textright{
        margin-right: 0%;
    }
    #imagedevices .device img{
        
        width: 100%;
        height: 10%;

    }
}

@media (min-width: 1200px){
    #computer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;

    }
    #computer .textright{
        align-items: flex-end;
        justify-content: space-between;
        margin-left: 5%;
        
    }
}